---
layout: default
lang: en
slug: fundes-textil
box: fundes-textil
class: fundes-textil-funda
title: Textile
keywords: hoods, textile, luggage, bags, nylon, imitation leather, canvas, colors, printing
featured-img-url:
icon-url: 
sitemap:
  priority: 0.7
  changefreq: monthly
---

<main class="bx-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content solutions">

      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/en/">Home</a></li>
        <li>Textile</li>
      </ul>

      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} <strong>{{page.title}}</strong></h1>
      </div>

          <article role="main">
            <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-fundes-textil-bosses-de-cordura-per-a-eines.jpg"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-fundes-textil-motxilla-trolley-primers-auxilis.jpg"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-fundes-textil-funda-per-a-peana.jpg"></p>
            
            <p><strong>BOXFORT</strong> manufactures all types of cases, bags and various articles in high-quality nylon as well as other materials such as imitation leather, canvas, Cordura®, etc.</p>

            <p>The company's manufacturing process begins with design and technical development through to manufacturing and delivery of the totally finished product. All <strong>BOXFORT</strong> products can be personalised with colours, engraving, etc.</p>
            
            {% if page.box == 'fundes-textil' %}{% include grid-thumbnail-fundes-textil.html %}{% endif %}
          </article>   

        <div class="well well-sm {% if page.title == 'Maletes' %} hidden-xs hidden-sm hidden-md hidden-lg {% endif %}">

          {% include contact-us.html %}

        </div>

    </div>

  </div>

</main>