---
layout: default
slug: fundes-textil
box: fundes-textil
class: fundes-textil-funda
title: Fundes tèxil
keywords: 
featured-img-url:
icon-url: 
---

<main class="bx-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content solutions">

      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li>Fundes tèxtil</li>
      </ul>

      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} <strong>{{page.title}}</strong></h1>
      </div>

          <article role="main">
            <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-fundes-textil-bosses-de-cordura-per-a-eines.jpg"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-fundes-textil-motxilla-trolley-primers-auxilis.jpg"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-fundes-textil-funda-per-a-peana.jpg"></p>
            
            <p>Fabriquem tot tipus de maletes, bosses i articles diversos en niló de qualitat, així com en altres materials com polipell, lona, cordura, etc.</p>

            <p>El nostre procés de fabricació, va des de el disseny i el desenvolupament tècnic, fins a la fabricació i lliurament del producte totalment acabat.  Tots els nostres productes es poden personalitzar ja sigui amb colors, serigrafia, etc.</p>
            
            {% if page.box == 'fundes-textil' %}{% include grid-thumbnail-fundes-textil.html %}{% endif %}
          </article>   

        <div class="well well-sm {% if page.title == 'Maletes' %} hidden-xs hidden-sm hidden-md hidden-lg {% endif %}">

          {% include contact-us.html %}

        </div>

    </div>

  </div>

</main>