---
layout: home
slug: home
title: Boxfort, maletes i contenidors professionals
keywords: BOXFORT, maletes, standard, alumini, plàstic, polipropilè, ABS, doble, paret, estanques, tèxtils, flight, cases.
---

<main class="bx-masthead" id="content" role="main">

	<div id="marketsIconHome" class="jumbotron jumbotron-white jumbotron-no-margin full-width cl-effect-1">

		<div class="container">

			<p class="text-center"><img src="{{site.baseurl}}/assets/img/maletes-home-box-fort.jpg"></p>

	  		<div class="row">
	  			<div class="col-md-4 col-sm-4">
			    	<h2 class="title-icon text-center"><a href="{{ site.base_url }}/maletes/" data-hover="Maletes"><span>Maletes</span></a></h2>
				</div>
				<div class="col-md-4 col-sm-4">
				    <h2 class="title-icon text-center"><a href="{{ site.base_url }}/fundes-textil/">Fundes</a></h2>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2 class="title-icon text-center"><a href="{{ site.base_url }}/altres/">Altres</a></h2>
				</div>
			</div>

		</div>		

	</div>

	<div class="container">

		<div id="boxFortLead" class="jumbotron jumbotron-no-margin">

			<h1><strong>Box Fort</strong>, maletes i contenidors professionals</h1>

			<p class="lead">Després de més de 25 anys d'experiència, a <strong>BOXFORT</strong>, seguim fabricant <strong>maletes</strong>, i intentem fer-ho cada vegada millor. Amb una amplia oferta de maletes standard en <strong>alumini</strong>, en <strong>plàstic polipropilè</strong>, <strong>ABS</strong>, <strong>doble paret</strong>, <strong>estanques</strong>, en materials <strogn>tèxtils</strogn>s i la fabricació a mida de <strong>flight cases</strong> i maletes en general, cobrim la majoria de necessitats.</p>

		</div>

	</div>

	<div class="container">

		<div class="body-content">

			<section id="thoughts">
				<div class="row">
				{% for post in site.categories.general limit:1 %}
					<div class="col-sm-12 col-md-12">
						<div class="recent-news">
							<h4>Novetats - <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | date: "%b %d" }}</time></h4>
							<!-- <h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4> -->
							<hr />
							{% if post.featured-img-url %}
            				<p class="pull-left hidden-xs thoughts-thumbnail"><img src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}"></p>
            				{% endif %}
							<a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>
							<p>{{ post.excerpt }}</p>
						</div>												
					</div>
				{% endfor %}
				</div>
			</section>

		</div>

	</div>

</main>