<div class="card {% if cardCount < 3 %}display{% else %}nodisplay{% endif %}">
	<div data-title='{{post.title | replace:"'","\'"}}' data-url='{{post.url}}' data-open='true'>
		{% include social.html %}
	</div>
	<a href="{{site.baseurl}}{{post.url}}"><h2 class="card-title">{{post.title}}</h2></a>
	<div class="card-content">
		<h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | date: "%b %d" }}</time></h4>
		<p>{{ post.excerpt | truncate: 140 }}</p>
		<p class='continue-link'>Llegeix més: <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a></p>
	</div>
</div>