{% if page.lang == 'es' %}
	<h1 class="text-center">¿Le podemos ayudar? <a href='mailto:bustia@box-fort.com?subject={{page.title}} - Box-fort.com&body=Quisiera información adicional sobre: http://www.box-fort.com{{page.url}}' class='mailto btn btn-default' title='Contacte con nosotros'><span class='fa fa-envelope'></span> Contacte con nosotros</a></h1>
{% endif %}
{% if page.lang == 'ca' %}
	<h1 class="text-center">El podem ajudar? <a href='mailto:bustia@box-fort.com?subject={{page.title}} - Box-fort.com&body=Voldria informació addicional sobre: http://www.box-fort.com{{page.url}}' class='mailto btn btn-default' title='Contacti amb nosaltres'><span class='fa fa-envelope'></span> Contacti amb nosaltres</a></h1>
{% endif %}
{% if page.lang == 'en' %}
	<h1 class="text-center">Can we help you? <a href='mailto:bustia@box-fort.com?subject={{page.title}} - Box-fort.com&body=I would like additional information about: http://www.box-fort.com{{page.url}}' class='mailto btn btn-default' title='Contact Us'><span class='fa fa-envelope'></span> Contact us</a></h1>
{% endif %}