		<div class="row text-center">
  			<div class="col-md-3 col-sm-6">
		    	<h2>
		    		<strong>{% if page.lang == 'es' %}Aluminio{% else if %}Alumini{% endif %}</strong><br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/aluminio/standard.html"><small>Standard</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/alumini/standard.html"><small>Standard</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/aluminio/a-medida.html"><small>A mida</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/alumini/a-mida.html"><small>A mida</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/aluminio/flight-cases.html"><small>Flight cases</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/alumini/flight-cases.html"><small>Flight cases</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/aluminio/contenedores.html"><small>Contenidors</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/alumini/contenidors.html"><small>Contenidors</small></a>{% endif %}
	    		</h2>
			</div>
			<div class="col-md-3 col-sm-6">
			    <h2>
			    	{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/plastico/"><strong>Plástico</strong></a>{% else if %}<a href="{{ site.base_url }}/maletes/plastic/"><strong>Plàstic</strong></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/plastico/injeccion.html"><small>Inyección</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/plastic/injeccio.html"><small>Injecció</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/plastico/doble-pared.html"><small>Doble pared</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/plastic/doble-paret.html"><small>Doble paret</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/plastico/estancas.html"><small>Estancas</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/plastic/estanques.html"><small>Estanques</small></a>{% endif %}
		    	</h2>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-3 col-sm-6">
				<h2>
					{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/"><strong>De herraminentas</strong></a>{% else if %}<a href="{{ site.base_url }}/maletes/maletes-d-eines/"><strong>D'eines</strong></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/box-fort.html"><small>Box fort</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/maletes-d-eines/box-fort.html"><small>Box fort</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/panaro.html"><small>Panaro</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/maletes-d-eines/panaro.html"><small>Panaro</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/hofbauer.html"><small>Hofbauer</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/maletes-d-eines/hofbauer.html"><small>Hofbauer</small></a>{% endif %}<br />
		    		{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/parat.html"><small>Parat</small></a>{% else if %}<a href="{{ site.base_url }}/maletes/maletes-d-eines/parat.html"><small>Parat</small></a>{% endif %}
				</h2>
			</div>
			<div class="col-md-3 col-sm-6">
				<h2>{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/piloto/"><strong>Piloto</strong></a>{% else if %}<a href="{{ site.base_url }}/maletes/piloto/"><strong>Piloto</strong></a>{% endif %}</h2>
			</div>
		</div>