		<div class="row text-center">
  			<div class="col-md-3 col-sm-6">
		    	<h2>
		    		<strong>
		    			{% if page.lang == 'es' %}
		    				Aluminio
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					Alumini
    					{% endif %}
    					{% if page.lang == 'en' %}
    						Aluminum
						{% endif %}
					</strong>
					<br />
			    		{% if page.lang == 'es' %}
			    			<a href="{{ site.base_url }}/es/maletas/aluminio/standard.html"><small>Standard</small></a>
		    			{% endif %}
		    			{% if page.lang == 'ca' %}
		    				<a href="{{ site.base_url }}/maletes/alumini/standard.html"><small>Standard</small></a>
	    				{% endif %}
		    			{% if page.lang == 'en' %}
		    				<a href="{{ site.base_url }}/en/cases/aluminum/standard.html"><small>Standard</small></a>
	    				{% endif %}
    				<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/aluminio/a-medida.html"><small>A medida</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/alumini/a-mida.html"><small>A mida</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/aluminum/custom-made-cases.html"><small>Custom-made cases</small></a>
    					{% endif %}
					<br />
			    		{% if page.lang == 'es' %}
			    			<a href="{{ site.base_url }}/es/maletas/aluminio/flight-cases.html"><small>Flight cases</small></a>
		    			{% endif %}
		    			{% if page.lang == 'ca' %}
		    				<a href="{{ site.base_url }}/maletes/alumini/flight-cases.html"><small>Flight cases</small></a>
	    				{% endif %}
		    			{% if page.lang == 'en' %}
		    				<a href="{{ site.base_url }}/en/cases/aluminum/flight-cases.html"><small>Flight cases</small></a>
	    				{% endif %}
    				<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/aluminio/contenedores.html"><small>Contenedores</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/alumini/contenidors.html"><small>Contenidors</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/aluminum/containers.html"><small>Containers</small></a>
    					{% endif %}
	    		</h2>
			</div>
			<div class="col-md-3 col-sm-6">
			    <h2>
				    	{% if page.lang == 'es' %}
				    		<a href="{{ site.base_url }}/es/maletas/plastico/"><strong>Plástico</strong></a>
			    		{% endif %}
			    		{% if page.lang == 'ca' %}
			    			<a href="{{ site.base_url }}/maletes/plastic/"><strong>Plàstic</strong></a>
		    			{% endif %}
			    		{% if page.lang == 'en' %}
			    			<a href="{{ site.base_url }}/en/cases/plastic/"><strong>Plastic</strong></a>
		    			{% endif %}
	    			<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/plastico/injeccion.html"><small>Inyección</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/plastic/injeccio.html"><small>Injecció</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/plastic/injection.html"><small>Injection</small></a>
    					{% endif %}
					<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/plastico/doble-pared.html"><small>Doble pared</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/plastic/doble-paret.html"><small>Doble paret</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/casese/plastic/double-wall.html"><small>Double wall</small></a>
    					{% endif %}
					<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/plastico/estancas.html"><small>Estancas</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/plastic/estanques.html"><small>Estanques</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/plastic/waterproof.html"><small>Waterproof</small></a>
    					{% endif %}
		    	</h2>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-3 col-sm-6">
				<h2>
						{% if page.lang == 'es' %}
							<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/"><strong>De herraminentas</strong></a>
						{% endif %}
						{% if page.lang == 'ca' %}
							<a href="{{ site.base_url }}/maletes/maletes-d-eines/"><strong>D'eines</strong></a>
						{% endif %}
						{% if page.lang == 'en' %}
							<a href="{{ site.base_url }}/en/cases/cases-for-tools/"><strong>Cases for tools</strong></a>
						{% endif %}
					<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/box-fort.html"><small>Box fort</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/maletes-d-eines/box-fort.html"><small>Box fort</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/cases-for-tools/box-fort.html"><small>Box fort</small></a>
    					{% endif %}
					<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/panaro.html"><small>Panaro</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/maletes-d-eines/panaro.html"><small>Panaro</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/cases-for-tools/panaro.html"><small>Panaro</small></a>
    					{% endif %}
					<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/hofbauer.html"><small>Hofbauer</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/maletes-d-eines/hofbauer.html"><small>Hofbauer</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/cases-for-tools/hofbauer.html"><small>Hofbauer</small></a>
    					{% endif %}
					<br />
		    			{% if page.lang == 'es' %}
		    				<a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/parat.html"><small>Parat</small></a>
	    				{% endif %}
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/maletes-d-eines/parat.html"><small>Parat</small></a>
    					{% endif %}
	    				{% if page.lang == 'en' %}
	    					<a href="{{ site.base_url }}/en/cases/cases-for-tools/parat.html"><small>Parat</small></a>
    					{% endif %}
				</h2>
			</div>
			<div class="col-md-3 col-sm-6">
				<h2>
					{% if page.lang == 'es' %}
						<a href="{{ site.base_url }}/es/maletas/piloto/"><strong>Piloto</strong></a>
					{% endif %}
					{% if page.lang == 'ca' %}
						<a href="{{ site.base_url }}/maletes/estanques/"><strong>Estanques</strong></a>
					{% endif %}
					{% if page.lang == 'en' %}
						<a href="{{ site.base_url }}/en/cases/piloto/"><strong>Piloto</strong></a>
					{% endif %}
					<br />
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/estanques/max.html"><small>MAX</small></a>
    					{% endif %}
					<br />
	    				{% if page.lang == 'ca' %}
	    					<a href="{{ site.base_url }}/maletes/estanques/explorer.html"><small>Explorer</small></a>
    					{% endif %}
				</h2>
			</div>
		</div>