			<div class="row">
	  			<div class="col-md-4 col-sm-4">
			    	<h2 class="title-icon text-center">{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/maletas/"><span>Maletas</span></a>{% endif %}{% if page.lang == 'ca' %}<a href="{{ site.base_url }}/maletes/"><span>Maletes</span></a>{% endif %}{% if page.lang == 'en' %}<a href="{{ site.base_url }}/en/cases/"><span>Cases</span></a>{% endif %}</h2>
				</div>
				<div class="col-md-4 col-sm-4">
				    <h2 class="title-icon text-center">{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/fundas-textil.html">Fundas</a>{% endif %}{% if page.lang == 'ca' %}<a href="{{ site.base_url }}/fundes-textil.html">Fundes</a>{% endif %}{% if page.lang == 'en' %}<a href="{{ site.base_url }}/en/textile.html">Textile</a>{% endif %}</h2>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2 class="title-icon text-center">{% if page.lang == 'es' %}<a href="{{ site.base_url }}/es/otros/">Otros</a>{% endif %}{% if page.lang == 'ca' %}<a href="{{ site.base_url }}/altres/">Altres</a>{% endif %}{% if page.lang == 'en' %}<a href="{{ site.base_url }}/en/others/">Others</a>{% endif %}</h2>
				</div>
			</div>