<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas MAX{% endif %}{% if page.lang == 'ca' %}Alguns exemples de maletes MAX{% endif %}{% if page.lang == 'en' %}Examples of MAX cases{% endif %}</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-300.jpg" class="img-rounded"><br/><small>max-300</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-430.jpg" class="img-rounded"><br/><small>max-430</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-430-pick-n-pluck.jpg" class="img-rounded"><br/><small>max-430-pick-n-pluck</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-505.jpg" class="img-rounded"><br/><small>max-505</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-001.jpg" class="img-rounded"><br/><small>max-001</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-001-open.jpg" class="img-rounded"><br/><small>max-001-open</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-001-GPB.jpg" class="img-rounded"><br/><small>max-001-GPB</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-001S-cubed-foams.jpg" class="img-rounded"><br/><small>max-001S-cubed-foams</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-001T-back-view.jpg" class="img-rounded"><br/><small>max-001T-back-view</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-001T-closed.jpg" class="img-rounded"><br/><small>max-001T-closed</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-estanques-max-001T-top-view.jpg" class="img-rounded"><br/><small>max-001T-top-view</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-estanques-max-001T.jpg" class="img-rounded"><br/><small>max-001T</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-001VT-open.jpg" class="img-rounded"><br/><small>max-001VT-open</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-001VT-top-view.jpg" class="img-rounded"><br/><small>max-001VT-top-view</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-002-closed.jpg" class="img-rounded"><br/><small>max-002-closed</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-002-GBP.jpg" class="img-rounded"><br/><small>max-002-GBP</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-002S-cubed-foams.jpg" class="img-rounded"><br/><small>max-002S-cubed-foams</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-002T-closed.jpg" class="img-rounded"><br/><small>max-002T-closed</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-002-open.jpg" class="img-rounded"><br/><small>max-002-open</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-002T-top-view.jpg" class="img-rounded"><br/><small>max-002T-top-view</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-estanques-max-002T-low.jpg" class="img-rounded"><br/><small>max-002T-low</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-estanques-max-002T-water.jpg" class="img-rounded"><br/><small>max-002T-water</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/05-thumbnail-box-fort-maletes-plastic-estanques-max-002T-back-view.jpg" class="img-rounded"><br/><small>max-002T-back-view</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-003-closed.jpg" class="img-rounded"><br/><small>max-003-closed</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-003-GPB.jpg" class="img-rounded"><br/><small>max-003-GPB</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-003S-cubed-foams.jpg" class="img-rounded"><br/><small>max-003S-cubed-foams</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-003T-closed.jpg" class="img-rounded"><br/><small>max-003T-closed</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-003-open.jpg" class="img-rounded"><br/><small>max-003-open</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-003T-open.jpg" class="img-rounded"><br/><small>max-003T-open</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-estanques-max-003T-top-view.jpg" class="img-rounded"><br/><small>max-003T-top-view</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-004-closed.jpg" class="img-rounded"><br/><small>max-004-closed</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-004S-cubed-foams.jpg" class="img-rounded"><br/><small>max-004S-cubed-foams</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-004T-closed.jpg" class="img-rounded"><br/><small>max-004T-closed</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-004-open.jpg" class="img-rounded"><br/><small>max-004-open</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-004T-open.jpg" class="img-rounded"><br/><small>max-004T-open</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-estanques-max-004T-top-view.jpg" class="img-rounded"><br/><small>max-004T-top-view</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-620-H250-closed.jpg" class="img-rounded"><br/><small>max-620-H250-closed</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-620-H250S-open.jpg" class="img-rounded"><br/><small>max-620-H250S-open</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-620-H340-back.jpg" class="img-rounded"><br/><small>max-620-H340-back</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-620-H250-with-trolley.jpg" class="img-rounded"><br/><small>max-620-H250-with-trolley</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-620-H340-closed.jpg" class="img-rounded"><br/><small>max-620-H340-closed</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-620-H250S-open.jpg" class="img-rounded"><br/><small>max-620-H250S-open</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-gal-430.jpg" class="img-rounded"><br/><small>max-gal-430</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-gal-520-30-ipad-air-chipland.jpg" class="img-rounded"><br/><small>max-gal-520-30-ipad-air-chipland</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-gal-ints-testo-1.jpg" class="img-rounded"><br/><small>max-gal-ints-testo-1</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-max-gal-430-cam-black.jpg" class="img-rounded"><br/><small>max-gal-430-cam-black</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-estanques-max-gal-430-PU-with-tools.jpg" class="img-rounded"><br/><small>max-gal-430-PU-with-tools</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-estanques-max-gal-430-S-orange-open.jpg" class="img-rounded"><br/><small>max-gal-430-S-orange-open</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-520-trolley.jpg" class="img-rounded"><br/><small>max-520-trolley</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-520.jpg" class="img-rounded"><br/><small>max-520</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-540-h-190-trolley.jpg" class="img-rounded"><br/><small>max-540-h-190-trolley</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-540-h-190.jpg" class="img-rounded"><br/><small>max-540-h-190</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

    <!-- 4 -->

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-540-h-245.jpg" class="img-rounded"><br/><small>max-540-h-245</small></p>
  </div>


</div>