<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas de aluminio standard{% endif %}{% if page.lang == 'ca' %}Alguns exemples de maletes d'alumini standard{% endif %}{% if page.lang == 'en' %}Examples of standard aluminum cases{% endif %}</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-b-2.jpg" class="img-rounded"><br/><small>b-2</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-b-4.jpg" class="img-rounded"><br/><small>b-4</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-varietat-colors.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-varietat-models.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-m-500-c.jpg" class="img-rounded"><br/><small>m-500-c</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-interior-escuma-multiplataforma.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-alumini-standard-mb-3.jpg" class="img-rounded"><br/><small>mb-3</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-mb-3.jpg" class="img-rounded"><br/><small>mb-3</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-standard-m-145.jpg" class="img-rounded"><br/><small>m-145</small></p>
  </div>

</div>