<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas de herramientas Box Fort{% else if %}Alguns exemples de maletes d'eines Box Fort{% endif %}</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-box-fort-M145-d-ab.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-box-fort-boxmt-25215.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-box-fort-boxmt-25222.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-box-fort-cartera-porta-eines.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-d-eines-box-fort-M145-d-ab.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-d-eines-box-fort-collage.jpg" class="img-rounded"></p>
  </div>

</div>