<h2>Alguns exemples de maletes d'eines Hofbauer</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-hofbauer-citybag-tc.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-hofbauer-megabag-tc-1000.jpg" class="img-rounded"></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-hofbauer-megabag-tc.jpg" class="img-rounded"></p>
  </div>

  <div class="clearfix visible-sm"></div>

</div>