<h2>Alguns exemples de maletes d'eines Parat</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-361-005-051.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-363-024-041-aktionstasche.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-481-000-171.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-481-500-171.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-485-037-179-platejada-oberta.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-485-037-179-platejada-tancada.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-489-500-171.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-parat-5304-000-031.jpg" class="img-rounded"></p>
  </div>
</div>