<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas doble pared{% endif %}{% if page.lang == 'ca' %}Alguns exemples de maletes doble paret{% endif %}{% if page.lang == 'en' %}Examples of double wall cases{% endif %}</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-1000-dh.jpg" class="img-rounded"><br/><small>1000-dh</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-1030-ak.jpg" class="img-rounded"><br/><small>1030-ak</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-citbag-KS-interior-troquelat.jpg" class="img-rounded"><br/><small>citbag-KS-interior-troquelat</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-citbag-SL-blava.jpg" class="img-rounded"><br/><small>citbag-SL-blava</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-citbag.jpg" class="img-rounded"><br/><small>citbag</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-megabag-2000.jpg" class="img-rounded"><br/><small>megabag-2000</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-megabag-4000-colors-especials.jpg" class="img-rounded"><br/><small>megabag-4000-colors-especials</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-megabag-interior-termocomformat.jpg" class="img-rounded"><br/><small>megabag-interior-termocomformat</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-megabag-serigrafiada.jpg" class="img-rounded"><br/><small>megabag-serigrafiada</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-multibag.jpg" class="img-rounded"><br/><small>hofbauer-multibag</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-quantum.jpg" class="img-rounded"><br/><small>quantum</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-ultrabag-multibag.jpg" class="img-rounded"><br/><small>ultrabag-multibag</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-ultrabag.jpg" class="img-rounded"><br/><small>hofbauer-ultrabag</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-citbag-KS-interior-troquelat.jpg" class="img-rounded"><br/><small>citbag-KS-interior-troquelat</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-doble-paret-hofbauer-ultrabag.jpg" class="img-rounded"><br/><small>ultrabag</small></p>
  </div>
</div>