<h2>Alguns exemples de maletes d'eines Plastica Panaro</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-plastica-panaro-170-48-h-184-pu-b.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-plastica-panaro-170-48-h-184-pu-c.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-plastica-panaro-170-48-h-184-pu-d.jpg" class="img-rounded"></p>
  </div>
  
</div>