<h2>Alguns exemples de blisters</h2>

<hr/>

<h3>Polipropilè</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-altres-blisters-polipropile-b-2.jpg" class="img-rounded"><br/>polipropile-b-2</p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-altres-blisters-polipropile-bivalve-1.jpg" class="img-rounded"><br/>bivalve-1</p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-altres-blisters-polipropile-blister-polipropile.jpg" class="img-rounded"><br/>blister-polipropile</p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-altres-blisters-polipropile-c-2-a.jpg" class="img-rounded"><br/>c-2-a</p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-altres-blisters-polipropile-d-1.jpg" class="img-rounded"><br/>d-1</p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-altres-blisters-polipropile-pp-dd-4.jpg" class="img-rounded"><br/>pp-dd-4</p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-altres-blisters-polipropile-blister-polipropile.jpg" class="img-rounded"><br/>blister-polipropile</p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-altres-blisters-polipropile-c-2-a.jpg" class="img-rounded"><br/>c-2-a</p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-altres-blisters-polipropile-pp-dd-4.jpg" class="img-rounded"><br/>pp-dd-4</p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-altres-blisters-polipropile-blister-polipropile.jpg" class="img-rounded"><br/>blister-polipropile</p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-altres-blisters-polipropile-blister-polipropile.jpg" class="img-rounded"><br/>blister-polipropile</p>
  </div>

</div>