<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas de aluminio a medida{% endif %}{% if page.lang == 'ca' %}Alguns exemples de maletes d'alumini a mida{% endif %}{% if page.lang == 'en' %}Some examples of custom aluminum cases{% endif %}</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-disco-mobil.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-alumini-a-mida-disco-mobil.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-eines-personalitzada.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-eines-quirurgiques.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-equip-de-medicio.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-alumini-a-mida-equip-de-medicio.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-equip-de-iluminiacio.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-alumini-a-mida-equip-de-iluminiacio.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-equipament-medic.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-farmacioles.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-interior-farmacioles.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-alumini-a-mida-interior-farmacioles.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-alumini-a-mida-interior-farmacioles.jpg" class="img-rounded"></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-alumini-a-mida-interior-farmacioles.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-hobby.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-sm"></div>
  
  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-barman.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-demo.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-alumini-a-mida-demo.jpg" class="img-rounded"></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-expositor.jpg" class="img-rounded"></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-alumini-a-mida-modular.jpg" class="img-rounded"></p>
  </div>  

</div>