<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas estancas{% endif %}{% if page.lang == 'ca' %}Alguns exemples de maletes estanques{% endif %}{% if page.lang == 'en' %}Examples of waterproof cases{% endif %}</h2>

<hr/>

<h3 id="estanques-explorer"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-icon-explorer-cases.jpg"> Explorer cases</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-10840-B-D1-1.jpg" class="img-rounded"><br/><small>explorer-10840-B-D1-1</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-10840-B-tancada.jpg" class="img-rounded"><br/><small>10840-B-tancada</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-11413-B.jpg" class="img-rounded"><br/><small>11413-B</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-13513-B-E.jpg" class="img-rounded"><br/><small>13513-B-E</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-13513-trolley.jpg" class="img-rounded"><br/><small>13513-trolley</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-13527-B.jpg" class="img-rounded"><br/><small>13527-B</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-1908-B-E.jpg" class="img-rounded"><br/><small>1908-B-E</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-1908-B-tancada.jpg" class="img-rounded"><br/><small>1908-B-tancada</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-1908-B.jpg" class="img-rounded"><br/><small>1908-B</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-2214-B.jpg" class="img-rounded"><br/><small>2214-B</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-2214-O-tancada.jpg" class="img-rounded"><br/><small>2214-O-tancada</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-3818-B-tancada.jpg" class="img-rounded"><br/><small>3818-B-tancada</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-4820-B-1.jpg" class="img-rounded"><br/><small>4820-B-1</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-4820-G-tancada.jpg" class="img-rounded"><br/><small>4820-G-tancada</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-4820-O-E.jpg" class="img-rounded"><br/><small>4820-O-E</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>
  
  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-5823-B-detall-trolley.jpg" class="img-rounded"><br/><small>5823-B-detall-trolley</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-5823-B-trolley.jpg" class="img-rounded"><br/><small>5823-B-trolley</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-7641-B-tancada.jpg" class="img-rounded"><br/><small>7641-B-tancada</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-7641-B-tirador.jpg" class="img-rounded"><br/><small>7641-B-tirador</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-bandolera.jpg" class="img-rounded"><br/><small>bandolera</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-cases-4820.jpg" class="img-rounded"><br/><small>4820</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-construccio.jpg" class="img-rounded"><br/><small>construccio</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-eqip-medicio.jpg" class="img-rounded"><br/><small>eqip-medicio</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-equip-fotografic.jpg" class="img-rounded"><br/><small>equip-fotografic</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-explorer-combilock.jpg" class="img-rounded"><br/><small>combilock</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-humidity-indicator.jpg" class="img-rounded"><br/><small>humidity-indicator</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-nautica.jpg" class="img-rounded"><br/><small>nautica</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-optica.jpg" class="img-rounded"><br/><small>optica</small></p>
  </div>

  <div class="clearfix visible-xs visible-md visible-lg"></div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-outdoor.jpg" class="img-rounded"><br/><small>outdoor</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-panring-33.jpg" class="img-rounded"><br/><small>panring-33</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-tapa-movible.jpg" class="img-rounded"><br/><small>tapa-movible</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-explorer-telescopi.jpg" class="img-rounded"><br/><small>telescopi</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-estanques-explorer-10840-B.jpg" class="img-rounded"><br/><small>10840-B</small></p>
  </div>
</div>

<h3 id="estanques-max"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-icon-max-cases.jpg"> Max cases</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-300.jpg" class="img-rounded"><br/><small>max-300</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-430.jpg" class="img-rounded"><br/><small>max-430</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-430-pick-n-pluck.jpg" class="img-rounded"><br/><small>max-430-pick-n-pluck</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-estanques-max-505.jpg" class="img-rounded"><br/><small>max-505</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>
</div>