<h2 id="injeccio">Alguns exemples de maletes d'injecció</h2>

<hr/>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-16-transparent.jpg" class="img-rounded"><br/><small>170-16-transparent</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-24-negre.jpg" class="img-rounded"><br/><small>170-24-negre</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-24P.jpg" class="img-rounded"><br/><small>170-24P.jpg</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-25-imp-blau.jpg" class="img-rounded"><br/><small>170-25-imp-blau</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-30-N-blava.jpg" class="img-rounded"><br/><small>170-30-N-blava</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-30N-GPB-negre-oberta.jpg" class="img-rounded"><br/><small>170-30N-GPB-negre-oberta</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-31-negre.jpg" class="img-rounded"><br/><small>170-31-negre</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-31-transparent.jpg" class="img-rounded"><br/><small>170-31-transparent</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-36-vermella.jpg" class="img-rounded"><br/><small>170-36-vermella</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-36C.jpg" class="img-rounded"><br/><small>170-36C</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-38-ngpg.jpg" class="img-rounded"><br/><small>170-38-ngpg</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-38N.jpg" class="img-rounded"><br/><small>170-38N</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-39-C-105.jpg" class="img-rounded"><br/><small>170-39-C-105</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-39C-105P.jpg" class="img-rounded"><br/><small>170-39C-105P</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-40-oberta.jpg" class="img-rounded"><br/><small>170-40-oberta</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>
  
  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-40-transparent.jpg" class="img-rounded"><br/><small>70-40-transparent</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-42-negre.jpg" class="img-rounded"><br/><small>170-42-negre</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-48-H184-F.jpg" class="img-rounded"><br/><small>170-48-H184-F</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-48-H184-negre.jpg" class="img-rounded"><br/><small>170-48-H184-negre</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-48-h132-gris.jpg" class="img-rounded"><br/><small>170-48-h132-gris</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-51-GPB.jpg" class="img-rounded"><br/><small>170-51-GPB</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-51-N-negre.jpg" class="img-rounded"><br/><small>170-51-N-negre</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-51n-farmaciola.jpg" class="img-rounded"><br/><small>170-51n-farmaciola</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-60-H144-gris-metal-litzat.jpg" class="img-rounded"><br/><small>170-60-H144-gris-metal-litzat</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-60-H224-gris-metal-litzat.jpg" class="img-rounded"><br/><small>170-60-H224-gris-metal-litzat</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-60H144-34x30-cm.jpg" class="img-rounded"><br/><small>170-60H144-34x30-cm</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170_25-imp-varis-colors.jpg" class="img-rounded"><br/><small>170_25-imp-varis-colors</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-TC200.jpg" class="img-rounded"><br/><small>TC200</small></p>
  </div>

  <div class="clearfix visible-xs visible-md visible-lg"></div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-eines-tall.jpg" class="img-rounded"><br/><small>eines-tall</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-equip-eines.jpg" class="img-rounded"><br/><small>equip-eines</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-equip-laboratori.jpg" class="img-rounded"><br/><small>equip-laboratori</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-estri-fotografic.jpg" class="img-rounded"><br/><small>estri-fotografic</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-interior-termoformat.jpg" class="img-rounded"><br/><small>interior-termoformat</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-joc-eines.jpg" class="img-rounded"><br/><small>joc-eines</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-kit-analisi-aigues.jpg" class="img-rounded"><br/><small>kit-analisi-aigues</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-aerograf.jpg" class="img-rounded"><br/><small>maleta-aerograf</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-cuiner.jpg" class="img-rounded"><br/><small>maleta-cuiner</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-equip-freses.jpg" class="img-rounded"><br/><small>equip-freses</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-maquinaria.jpg" class="img-rounded"><br/><small>maleta-maquinaria</small></p>
  </div>

    <div class="clearfix visible-sm"></div>
  
  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-laboratori.jpg" class="img-rounded"><br/><small>material-laboratori</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-ceramica.jpg" class="img-rounded"><br/><small>mostrari-ceramica</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-cosmetica.jpg" class="img-rounded"><br/><small>mostrari-cosmetica</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-d-eines.jpg" class="img-rounded"><br/><small>mostrari-d-eines</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-il-luminiacio.jpg" class="img-rounded"><br/><small>mostrari-il-luminiacio</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-lampades.jpg" class="img-rounded"><br/><small>mostrari-lampades</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-serie-K-06.jpg" class="img-rounded"><br/><small>serie-K-06</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-eines-tall.jpg" class="img-rounded"><br/><small>eines-tall</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-estri-fotografic.jpg" class="img-rounded"><br/><small>estri-fotografic</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-cuiner.jpg" class="img-rounded"><br/><small>maleta-cuiner</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-d-eines.jpg" class="img-rounded"><br/><small>mostrari-d-eines</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-il-luminiacio.jpg" class="img-rounded"><br/><small>mostrari-il-luminiacio</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-serie-K.jpg" class="img-rounded"><br/><small>serie-K</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

  <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-serigrafia.jpg" class="img-rounded"><br/><small>serigrafia</small></p>
  </div>

   <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-complements-informatica.jpg" class="img-rounded"><br/><small>complements-informatica</small></p>
  </div> 

</div>