<h2>{% if page.lang == 'es' %}Algunos ejemplos de maletas de inyección{% endif %}{% if page.lang == 'ca' %}Alguns exemples de maletes d'injecció{% endif %}{% if page.lang == 'en' %}Examples of injection cases{% endif %}</h2>

<hr/>

<h3 id="injeccio-plastica-panaro"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-icon-plastica-panaro.jpg"> Plastica Panaro</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-16-transparent.jpg" class="img-rounded"><br/><small>170-16-transparent</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-24-negre.jpg" class="img-rounded"><br/><small>170-24-negre</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-24P.jpg" class="img-rounded"><br/><small>170-24P.jpg</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-25-imp-blau.jpg" class="img-rounded"><br/><small>170-25-imp-blau</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-30-N-blava.jpg" class="img-rounded"><br/><small>170-30-N-blava</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-30N-GPB-negre-oberta.jpg" class="img-rounded"><br/><small>170-30N-GPB-negre-oberta</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-31-negre.jpg" class="img-rounded"><br/><small>170-31-negre</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-31-transparent.jpg" class="img-rounded"><br/><small>170-31-transparent</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-36-vermella.jpg" class="img-rounded"><br/><small>170-36-vermella</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-36C.jpg" class="img-rounded"><br/><small>170-36C</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-38-ngpg.jpg" class="img-rounded"><br/><small>170-38-ngpg</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-38N.jpg" class="img-rounded"><br/><small>170-38N</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-39-C-105.jpg" class="img-rounded"><br/><small>170-39-C-105</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-39C-105P.jpg" class="img-rounded"><br/><small>170-39C-105P</small></p>
  </div>

  	<div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-40-oberta.jpg" class="img-rounded"><br/><small>170-40-oberta</small></p>
  </div>

  	<div class="clearfix visible-sm"></div>
  
  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-40-transparent.jpg" class="img-rounded"><br/><small>70-40-transparent</small></p>
  </div>

  	<div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-42-negre.jpg" class="img-rounded"><br/><small>170-42-negre</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-48-H184-F.jpg" class="img-rounded"><br/><small>170-48-H184-F</small></p>
  </div>

  	<div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-48-H184-negre.jpg" class="img-rounded"><br/><small>170-48-H184-negre</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  	<p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-48-h132-gris.jpg" class="img-rounded"><br/><small>170-48-h132-gris</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-51-GPB.jpg" class="img-rounded"><br/><small>170-51-GPB</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-51-N-negre.jpg" class="img-rounded"><br/><small>170-51-N-negre</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-51n-farmaciola.jpg" class="img-rounded"><br/><small>170-51n-farmaciola</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-60-H144-gris-metal-litzat.jpg" class="img-rounded"><br/><small>170-60-H144-gris-metal-litzat</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-60-H224-gris-metal-litzat.jpg" class="img-rounded"><br/><small>170-60-H224-gris-metal-litzat</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170-60H144-34x30-cm.jpg" class="img-rounded"><br/><small>170-60H144-34x30-cm</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-170_25-imp-varis-colors.jpg" class="img-rounded"><br/><small>170_25-imp-varis-colors</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-TC200.jpg" class="img-rounded"><br/><small>TC200</small></p>
  </div>

  <div class="clearfix visible-xs visible-md visible-lg"></div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-eines-tall.jpg" class="img-rounded"><br/><small>eines-tall</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-equip-eines.jpg" class="img-rounded"><br/><small>equip-eines</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-equip-laboratori.jpg" class="img-rounded"><br/><small>equip-laboratori</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-estri-fotografic.jpg" class="img-rounded"><br/><small>estri-fotografic</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-interior-termoformat.jpg" class="img-rounded"><br/><small>interior-termoformat</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-joc-eines.jpg" class="img-rounded"><br/><small>joc-eines</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-kit-analisi-aigues.jpg" class="img-rounded"><br/><small>kit-analisi-aigues</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-aerograf.jpg" class="img-rounded"><br/><small>maleta-aerograf</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-cuiner.jpg" class="img-rounded"><br/><small>maleta-cuiner</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-equip-freses.jpg" class="img-rounded"><br/><small>equip-freses</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-maquinaria.jpg" class="img-rounded"><br/><small>maleta-maquinaria</small></p>
  </div>

    <div class="clearfix visible-sm"></div>
  
  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-laboratori.jpg" class="img-rounded"><br/><small>material-laboratori</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-ceramica.jpg" class="img-rounded"><br/><small>mostrari-ceramica</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-cosmetica.jpg" class="img-rounded"><br/><small>mostrari-cosmetica</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-d-eines.jpg" class="img-rounded"><br/><small>mostrari-d-eines</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-il-luminiacio.jpg" class="img-rounded"><br/><small>mostrari-il-luminiacio</small></p>
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-lampades.jpg" class="img-rounded"><br/><small>mostrari-lampades</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-serie-K-06.jpg" class="img-rounded"><br/><small>serie-K-06</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-eines-tall.jpg" class="img-rounded"><br/><small>eines-tall</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-estri-fotografic.jpg" class="img-rounded"><br/><small>estri-fotografic</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-maleta-cuiner.jpg" class="img-rounded"><br/><small>maleta-cuiner</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-d-eines.jpg" class="img-rounded"><br/><small>mostrari-d-eines</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-mostrari-il-luminiacio.jpg" class="img-rounded"><br/><small>mostrari-il-luminiacio</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-serie-K.jpg" class="img-rounded"><br/><small>serie-K</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-material-electric.jpg" class="img-rounded"><br/><small>material-electric</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-personalitzacio-amb-serigrafia.jpg" class="img-rounded"><br/><small>personalitzacio-amb-serigrafia</small></p>
  </div>

  <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-serigrafia.jpg" class="img-rounded"><br/><small>serigrafia</small></p>
  </div>

   <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plastica-panaro-complements-informatica.jpg" class="img-rounded"><br/><small>complements-informatica</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-plastica-panaro-170-33.jpg" class="img-rounded"><br/><small>170-33</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-plastica-panaro-170-44-h-114.jpg" class="img-rounded"><br/><small>170-44-h-114</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-d-eines-plastica-panaro-170-44-h-184.jpg" class="img-rounded"><br/><small>170-44-h-184</small></p>
  </div> 

</div>

<h3 id="injeccio-hofbauer"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-icon-hofbauer.jpg"> Hofbauer</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-detall-maxibag.jpg" class="img-rounded"><br/><small>detall-maxibag</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-interior-xtrabag.jpg" class="img-rounded"><br/><small>interior-xtrabag</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-maxibag.jpg" class="img-rounded"><br/><small>hofbauer-maxibag</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-minibag-3-serigrafiada.jpg" class="img-rounded"><br/><small>minibag-3-serigrafiada</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-minibag-3.jpg" class="img-rounded"><br/><small>hofbauer-minibag-3</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-minibag.jpg" class="img-rounded"><br/><small>hofbauer-minibag</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-xtrabag-300.jpg" class="img-rounded"><br/><small>xtrabag-300</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-xtrabag-400.jpg" class="img-rounded"><br/><small>xtrabag-400</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-xtrabag-500.jpg" class="img-rounded"><br/><small>xtrabag-500</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-xtrabag-mostrari.jpg" class="img-rounded"><br/><small>xtrabag-mostrari</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-xtrabag-tapa-transparent.jpg" class="img-rounded"><br/><small>xtrabag-tapa-transparent</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-xtrabag.jpg" class="img-rounded"><br/><small>hofbauer-xtrabag</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-maxibag.jpg" class="img-rounded"><br/><small>hofbauer-maxibag</small></p>
  </div>  

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-maxibag.jpg" class="img-rounded"><br/><small>hofbauer-maxibag</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/04-thumbnail-box-fort-maletes-plastic-injeccio-hofbauer-maxibag.jpg" class="img-rounded"><br/><small>hofbauer-maxibag</small></p>
  </div>
</div>

<h3 id="injeccio-plaston"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-icon-plaston.jpg"> Plaston</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-111.jpg" class="img-rounded"><br/><small>typ-111</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-126.jpg" class="img-rounded"><br/><small>typ-126</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-156.jpg" class="img-rounded"><br/><small>typ-156</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-17.jpg" class="img-rounded"><br/><small>typ-17</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-31.jpg" class="img-rounded"><br/><small>typ-31</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-51.jpg" class="img-rounded"><br/><small>typ-51</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-70.jpg" class="img-rounded"><br/><small>typ-70</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-81.jpg" class="img-rounded"><br/><small>typ-81</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/02-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-111.jpg" class="img-rounded"><br/><small>typ-111</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/03-thumbnail-box-fort-maletes-plastic-injeccio-plaston-typ-111.jpg" class="img-rounded"><br/><small>typ-111</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-polybutler.jpg" class="img-rounded"><br/><small>Polybutler</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-plaston-polyno.jpg" class="img-rounded"><br/><small>Polyno</small></p>
  </div>
</div>

<h3 id="injeccio-wag"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-icon-wag.jpg"> Wag</h3>

<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-216-klein.jpg" class="img-rounded"><br/><small>216</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-280-kl.jpg" class="img-rounded"><br/><small>280</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-664-kl.jpg" class="img-rounded"><br/><small>664</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-855-klein.jpg" class="img-rounded"><br/><small>855</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-t-2002.jpg" class="img-rounded"><br/><small>t-2002</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-t-2007.jpg" class="img-rounded"><br/><small>t-2007</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-t-2011.jpg" class="img-rounded"><br/><small>t-2011</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-t-2019.jpg" class="img-rounded"><br/><small>t-2019</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-h-4001.jpg" class="img-rounded"><br/><small>h-4001</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-h-4010.jpg" class="img-rounded"><br/><small>h-4010</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-h-4036.jpg" class="img-rounded"><br/><small>h-4036</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-h-4048.jpg" class="img-rounded"><br/><small>h-4048</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-921-kl.jpg" class="img-rounded"><br/><small>921</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-1034-klein.jpg" class="img-rounded"><br/><small>1034</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-jazz-10-72.jpg" class="img-rounded"><br/><small>jazz-10-72</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-jazz-14-72.jpg" class="img-rounded"><br/><small>jazz-14-72</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-jazz-15-72.jpg" class="img-rounded"><br/><small>jazz-15-72</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-jazz-35-72.jpg" class="img-rounded"><br/><small>jazz-35-72</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-jazz-37-72.jpg" class="img-rounded"><br/><small>jazz-37-72</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-jazz-29-72.jpg" class="img-rounded"><br/><small>jazz-29-72</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-salsa-74PT7572.jpg" class="img-rounded"><br/><small>salsa-74PT7572</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-salsa-78PF4687.jpg" class="img-rounded"><br/><small>salsa-78PF4687</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-salsa-7102.jpg" class="img-rounded"><br/><small>salsa-7102</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-salsa.jpg" class="img-rounded"><br/><small>salsa</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-swing-0172-kl.jpg" class="img-rounded"><br/><small>swing-0172</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-swing-0256-klein.jpg" class="img-rounded"><br/><small>swing-0256</small></p>
  </div>

    <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-swing-0330-klein.jpg" class="img-rounded"><br/><small>swing-0330</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-swing-0813.jpg" class="img-rounded"><br/><small>swing-0813</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
  <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-mambo-1808.jpg" class="img-rounded"><br/><small>mambo-1808</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-mambo-1820.jpg" class="img-rounded"><br/><small>mambo-1820</small></p>
  </div>

    <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-mambo-8779.jpg" class="img-rounded"><br/><small>mambo-8779</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-mambo-8782.jpg" class="img-rounded"><br/><small>mambo-8782</small></p>
  </div>

    <div class="clearfix visible-xs visible-md visible-lg"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-beat-b6632.jpg" class="img-rounded"><br/><small>beat-b6632</small></p>
  </div>

    <div class="clearfix visible-sm"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-beat-b6642.jpg" class="img-rounded"><br/><small>beat-b6642</small></p>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-beat-b6662.jpg" class="img-rounded"><br/><small>beat-b6662</small></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <p class="text-center"><img src="{{ site.base_url }}/assets/img/01-thumbnail-box-fort-maletes-plastic-injeccio-wag-beat-b6692.jpg" class="img-rounded"><br/><small>beat-b6692</small></p>
  </div>
</div>