	<h3>{% if page.lang == 'es' %}Tipos de maletas{% endif %}{% if page.lang == 'ca' %}Tipus de maletes{% endif %}{% if page.lang == 'en' %}Types of cases{% endif %}</h3>

    <ul class="nav nav-pills nav-stacked">
      <li class="{% if page.box == 'alumini' or page.box == 'standard' or page.box == 'a-mida' or page.box == 'flight-cases' or page.box == 'contenidors' %}active{% endif %} disabled"><a href="#">{% if page.lang == 'es' %}Aluminio{% endif %}{% if page.lang == 'ca' %}Alumini{% endif %}{% if page.lang == 'en' %}Aluminum{% endif %}</a>
        <ul>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/aluminio/standard.html">
                {% if page.box == "standard" %}
                  <strong><em>Standard</em></strong>
                {% else %}
                  Standard
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/alumini/standard.html">
                {% if page.box == "standard" %}
                  <strong><em>Standard</em></strong>
                {% else %}
                  Standard
                {% endif %}
              </a>
            {% endif %}            
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/aluminum/standard.html">
                {% if page.box == "standard" %}
                  <strong><em>Standard</em></strong>
                {% else %}
                  Standard
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/aluminio/a-medida.html">
                {% if page.box == "a-mida" %}
                  <strong><em>A medida</em></strong>
                {% else %}
                  A medida
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/alumini/a-mida.html">
                {% if page.box == "a-mida" %}
                  <strong><em>A mida</em></strong>
                {% else %}
                  A mida
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/aluminum/custom-made-cases.html">
                {% if page.box == "a-mida" %}
                  <strong><em>Custom-made</em></strong>
                {% else %}
                  Custom-made
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/aluminio/flight-cases.html">
                {% if page.box == "flight-cases" %}
                  <strong><em>Flight Cases</em></strong>
                {% else %}
                  Flight Cases
                {% endif %}</a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/alumini/flight-cases.html">
                {% if page.box == "flight-cases" %}
                  <strong><em>Flight Cases</em></strong>
                {% else %}
                  Flight Cases
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/aluminum/flight-cases.html">
                {% if page.box == "flight-cases" %}
                  <strong><em>Flight Cases</em></strong>
                {% else %}
                  Flight Cases
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/aluminio/contenedores.html">
                {% if page.box == "contenidors" %}
                  <strong><em>Contenedores</em></strong>
                {% else %}
                  Contenedores
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/alumini/contenidors.html">
                {% if page.box == "contenidors" %}
                  <strong><em>Contenidors</em></strong>
                {% else %}
                  Contenidors
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/aluminum/containers.html">
                {% if page.box == "contenidors" %}
                  <strong><em>Containers</em></strong>
                {% else %}
                  Containers
                {% endif %}
              </a>
            {% endif %}
          </li>
        </ul>
      </li>
      <li {% if page.box == 'plastic' or page.box == 'injeccio' or page.box == 'doble-paret' or page.box == 'estanques' %}class="active"{% endif %}>
        {% if page.lang == 'es' %}
          <a href="{{ site.base_url }}/es/maletas/plastico/">Plástico</a>
        {% endif %}
        {% if page.lang == 'ca' %}
          <a href="{{ site.base_url }}/maletes/plastic/">Plàstic</a>
        {% endif %}
        {% if page.lang == 'en' %}
          <a href="{{ site.base_url }}/en/cases/plastic/">Plastic</a>
        {% endif %}
        <ul>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/plastico/injeccion.html">
                {% if page.box == 'injeccio' %}
                  <strong><em>Inyección</em></strong>
                {% else %}
                  Inyección
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/plastic/injeccio.html">
                {% if page.box == 'injeccio' %}
                  <strong><em>Injecció</em></strong>
                {% else %}
                  Injecció
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/plastic/injection.html">
                {% if page.box == 'injeccio' %}
                  <strong><em>Injection</em></strong>
                {% else %}
                  Injection
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/plastico/doble-pared.html">
                {% if page.box == 'doble-paret' %}
                  <strong><em>Doble pared</em></strong>
                {% else %}
                  Doble pared
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/plastic/doble-paret.html">
                {% if page.box == 'doble-paret' %}
                  <strong><em>Doble paret</em></strong>
                {% else %}
                  Doble paret
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/plastic/double-wall.html">
                {% if page.box == 'doble-paret' %}
                  <strong><em>Double wall</em></strong>
                {% else %}
                  Double wall
                {% endif %}
              </a>
            {% endif %}
          </li>
        </ul>
      </li>
      <li {% if page.box == 'nex-estanques' or page.box == 'explorer' or page.box == 'max' %}class="active"{% endif %}>
        {% if page.lang == 'es' %}
          <a href="{{ site.base_url }}/es/maletas/estancas/">Estancas</a>
        {% endif %}
        {% if page.lang == 'ca' %}
          <a href="{{ site.base_url }}/maletes/estanques/">Estanques</a>
        {% endif %}
        {% if page.lang == 'en' %}
          <a href="{{ site.base_url }}/en/cases/waterproof/">Waterproof</a>
        {% endif %}
        <ul>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/estancas/max.html">
                {% if page.box == 'max' %}
                  <strong><em>MAX</em></strong>
                {% else %}
                  MAX
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/estanques/max.html">
                {% if page.box == 'max' %}
                  <strong><em>MAX</em></strong>
                {% else %}
                  MAX
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/waterproof/max.html">
                {% if page.box == 'max' %}
                  <strong><em>MAX</em></strong>
                {% else %}
                  MAX
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/estancas/explorer.html">
                {% if page.box == 'explorer' %}
                  <strong><em>Explorer</em></strong>
                {% else %}
                  Explorer
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/estanques/explorer.html">
                {% if page.box == 'explorer' %}
                  <strong><em>Explorer</em></strong>
                {% else %}
                  Explorer
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/waterproof/explorer.html">
                {% if page.box == 'explorer' %}
                  <strong><em>Explorer</em></strong>
                {% else %}
                  Explorer
                {% endif %}
              </a>
            {% endif %}
          </li>
        </ul>
      </li>
      <li {% if page.box == 'eines' or page.box == 'box-fort' or page.box == 'panaro' or page.box == 'hofbauer' or page.box == 'parat' %}class="active"{% endif %}>
        {% if page.lang == 'es' %}
          <a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/">Maletas de herramientas</a>
        {% endif %}
        {% if page.lang == 'ca' %}
          <a href="{{ site.base_url }}/maletes/maletes-d-eines/">Maletes d'eines</a>
        {% endif %}
        {% if page.lang == 'en' %}
          <a href="{{ site.base_url }}/en/cases/cases-for-tools/">Cases for tools</a>
        {% endif %}
        <ul>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/box-fort.html">
                {% if page.box == 'box-fort' %}
                  <strong><em>Box fort</em></strong>
                {% else %}
                  Box fort
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/maletes-d-eines/box-fort.html">
                {% if page.box == 'box-fort' %}
                  <strong><em>Box fort</em></strong>
                {% else %}
                  Box fort
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/cases-for-tools/box-fort.html">
                {% if page.box == 'box-fort' %}
                  <strong><em>Box fort</em></strong>
                {% else %}
                  Box fort
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/panaro.html">
                {% if page.box == 'panaro' %}
                  <strong><em>Panaro</em></strong>
                {% else %}
                  Panaro
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/maletes-d-eines/panaro.html">
                {% if page.box == 'panaro' %}
                  <strong><em>Panaro</em></strong>
                {% else %}
                  Panaro
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/cases-for-tools/panaro.html">
                {% if page.box == 'panaro' %}
                  <strong><em>Panaro</em></strong>
                {% else %}
                  Panaro
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/hofbauer.html">
                {% if page.box == 'hofbauer' %}
                  <strong><em>Hofbauer</em></strong>
                {% else %}
                  Hofbauer
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/maletes-d-eines/hofbauer.html">
                {% if page.box == 'hofbauer' %}
                  <strong><em>Hofbauer</em></strong>
                {% else %}
                  Hofbauer
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/cases-for-tools/hofbauer.html">
                {% if page.box == 'hofbauer' %}
                  <strong><em>Hofbauer</em></strong>
                {% else %}
                  Hofbauer
                {% endif %}
              </a>
            {% endif %}
          </li>
          <li>
            {% if page.lang == 'es' %}
              <a href="{{ site.base_url }}/es/maletas/maletas-d-herramientas/parat.html">
                {% if page.box == 'parat' %}
                  <strong><em>Parat</em></strong>
                {% else %}
                  Parat
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'ca' %}
              <a href="{{ site.base_url }}/maletes/maletes-d-eines/parat.html">
                {% if page.box == 'parat' %}
                  <strong><em>Parat</em></strong>
                {% else %}
                  Parat
                {% endif %}
              </a>
            {% endif %}
            {% if page.lang == 'en' %}
              <a href="{{ site.base_url }}/en/cases/cases-for-tools/parat.html">
                {% if page.box == 'parat' %}
                  <strong><em>Parat</em></strong>
                {% else %}
                  Parat
                {% endif %}
              </a>
            {% endif %}
          </li>
        </ul>
      </li>
    </ul>