	{% if page.lang == 'es' %}
	<h3>Otros</h3>
	{% else if %}
	<h3>Altres</h3>
	{% endif %}

    <ul class="nav nav-pills nav-stacked">
      <li {% if page.box == 'estoigs' %}class="active"{% endif %}>
      		{% if page.lang == 'es' %}
      		<a href="{{ site.base_url }}/es/otros/estuches/">Esuches</a>
      		{% else if %}
      		<a href="{{ site.base_url }}/altres/estoigs/">Estoigs</a>
      		{% endif %}
      </li>
      <li {% if page.box == 'blisters' %}class="active"{% endif %}>
      		{% if page.lang == 'es' %}
      		<a href="{{ site.base_url }}/es/otros/blisters/">Blisters</a>
      		{% else if %}
      		<a href="{{ site.base_url }}/altres/blisters/">Blisters</a>
      		{% endif %}
      </li>
      <li {% if page.box == 'escumes' %}class="active"{% endif %}>
      		{% if page.lang == 'es' %}
      		<a href="{{ site.base_url }}/es/otros/espumas/">Espumas</a>
      		{% else if %}
      		<a href="{{ site.base_url }}/altres/escumes/">Escumes</a>
      		{% endif %}
      </li>
      <li {% if page.box == 'plafons' %}class="active"{% endif %}>
      		{% if page.lang == 'es' %}
      		<a href="{{ site.base_url }}/es/otros/plafones/">Plafones</a>
      		{% else if %}
      		<a href="{{ site.base_url }}/altres/plafons/">Plafons</a>
      		{% endif %}
      </li>
      <li {% if page.box == 'polipropile-troquelat' %}class="active"{% endif %}>
      		{% if page.lang == 'es' %}
      		<a href="{{ site.base_url }}/es/otros/polipropileno-troquelado/">Polipropileno troquelado</a>
      		{% else if %}
      		<a href="{{ site.base_url }}/altres/polipropile-troquelat/">Polipropilè troquelat</a>
      		{% endif %}
      </li>
      <li {% if page.box == 'carros' %}class="active"{% endif %}>
      		{% if page.lang == 'es' %}
      		<a href="{{ site.base_url }}/es/otros/carros/">Carros</a>
      		{% else if %}
      		<a href="{{ site.base_url }}/altres/carros/">Carros</a>
      		{% endif %}
      </li>
    </ul>