	<h3>Altres</h3>

    <ul class="nav nav-pills nav-stacked">
      <li {% if page.box == 'estoigs' %}class="active"{% endif %}><a href="{{ site.base_url }}/altres/estoigs/">Estoigs</a></li>
      <li {% if page.box == 'blisters' %}class="active"{% endif %}><a href="{{ site.base_url }}/altres/blisters/">Blisters</a></li>
      <li {% if page.box == 'escumes' %}class="active"{% endif %}><a href="{{ site.base_url }}/altres/escumes/">Escumes</a></li>
      <li {% if page.box == 'plafons' %}class="active"{% endif %}><a href="{{ site.base_url }}/altres/plafons/">Plafons</a></li>
      <li {% if page.box == 'polipropile-troquelat' %}class="active"{% endif %}><a href="{{ site.base_url }}/altres/polipropile-troquelat/">Polipropilè troquelat</a></li>
      <li {% if page.box == 'carros' %}class="active"{% endif %}><a href="{{ site.base_url }}/altres/carros/">Carros</a></li>
    </ul>