	<h3>Tipus de maletes</h3>

    <ul class="nav nav-pills nav-stacked">
      <li class="{% if page.box == 'alumini' or page.box == 'standard' or page.box == 'a-mida' or page.box == 'flight-cases' or page.box == 'contenidors' %}active{% endif %} disabled"><a href="#">Alumini</a>
        <ul>
          <li><a href="{{ site.base_url }}/maletes/alumini/standard.html">{% if page.box == "standard" %}<strong><em>Standard</em></strong>{% else %}Standard{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/alumini/a-mida.html">{% if page.box == "a-mida" %}<strong><em>A mida</em></strong>{% else %}A mida{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/alumini/flight-cases.html">{% if page.box == "flight-cases" %}<strong><em>Flight Cases</em></strong>{% else %}Flight Cases{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/alumini/contenidors.html">{% if page.box == "contenidors" %}<strong><em>Contenidors</em></strong>{% else %}Contenidors{% endif %}</a></li>
        </ul>
      </li>
      <li {% if page.box == 'plastic' or page.box == 'injeccio' or page.box == 'doble-paret' or page.box == 'estanques' %}class="active"{% endif %}><a href="{{ site.base_url }}/maletes/plastic/">Plàstic</a>
        <ul>
          <li><a href="{{ site.base_url }}/maletes/plastic/injeccio.html">{% if page.box == 'injeccio' %}<strong><em>Injecció</em></strong>{% else %}Injecció{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/plastic/doble-paret.html">{% if page.box == 'doble-paret' %}<strong><em>Doble paret</em></strong>{% else %}Doble paret{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/plastic/estanques.html">{% if page.box == 'estanques' %}<strong><em>Estanques</em></strong>{% else %}Estanques{% endif %}</a></li>
        </ul>
      </li>
      <li {% if page.box == 'eines' or page.box == 'box-fort' or page.box == 'panaro' or page.box == 'hofbauer' or page.box == 'parat' %}class="active"{% endif %}><a href="{{ site.base_url }}/maletes/maletes-d-eines/">Maletes d'eines</a>
        <ul>
          <li><a href="{{ site.base_url }}/maletes/maletes-d-eines/box-fort.html">{% if page.box == 'box-fort' %}<strong><em>Box fort</em></strong>{% else %}Box fort{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/maletes-d-eines/panaro.html">{% if page.box == 'panaro' %}<strong><em>Panaro</em></strong>{% else %}Panaro{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/maletes-d-eines/hofbauer.html">{% if page.box == 'hofbauer' %}<strong><em>Hofbauer</em></strong>{% else %}Hofbauer{% endif %}</a></li>
          <li><a href="{{ site.base_url }}/maletes/maletes-d-eines/parat.html">{% if page.box == 'parat' %}<strong><em>Parat</em></strong>{% else %}Parat{% endif %}</a></li>
        </ul>
      </li>
      <li {% if page.box == 'piloto' %}class="active"{% endif %}><a href="{{ site.base_url }}/maletes/piloto/">Piloto</a>
    </ul>