			<section id="thoughts">
				<div class="row">
				{% for post in site.categories.general limit:1 %}
					<div class="col-sm-12 col-md-12">
						<div class="recent-news">
							<h5>Novetats / Novedades / News - <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | date: "%b %d" }}</time></h5>
							<!-- <h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4> -->
							<hr />
							{% if post.featured-img-url %}
            				<p class="pull-left hidden-xs thoughts-thumbnail"><img src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}"></p>
            				{% endif %}							
            				<a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>
							<p>{{ post.excerpt }}</p>
						</div>												
					</div>
				{% endfor %}
				</div>
			</section>