---
layout: default
slug: altres
---

<main class="bx-masthead container" id="content" role="main">

  <div class="content-two-third">

    <div class="body-content solutions">

      <ul class="breadcrumb">
        <li>
            {% if page.lang == 'es' %}
            <a href="{{ site.base_url }}/es/">Home</a>
            {% else if %}
            <a href="{{ site.base_url }}/">Home</a>
            {% endif %}
        </li>
        <li>
            {% if page.lang == 'es' %}
            <a href="{{ site.base_url }}/es/otros">Otros</a>
            {% else if %}
            <a href="{{ site.base_url }}/altres">Altres</a>
            {% endif %}
        </li>
        {% if page.lang == 'es' %}
          {% if page.title != 'Otros' %}
          <li class="active">{% if page.title != 'Otros' and page.subtitle != null %}{{page.title}}, <strong>{{page.subtitle}}</strong>{% endif %}{% if page.title != 'Otros' and page.subtitle == null %}{{page.title}}{% endif %}</li>
          {% endif %}
        {% else if %}
          {% if page.title != 'Altres' %}
          <li class="active">{% if page.title != 'Altres' and page.subtitle != null %}{{page.title}}, <strong>{{page.subtitle}}</strong>{% endif %}{% if page.title != 'Altres' and page.subtitle == null %}{{page.title}}{% endif %}</li>
          {% endif %}
        {% endif %}
      </ul>

      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} 
        {% if page.lang == 'es' %}
          {% if page.title == 'Otros' %}<strong>{{page.title}}</strong>{% endif %}{% if page.title != 'Otros' and page.subtitle != null %}{{page.title}}, <strong>{{page.subtitle}}</strong>{% endif %}{% if page.title != 'Otros' and page.subtitle == null %}{{page.title}}{% endif %}
        {% else if %}
          {% if page.title == 'Altres' %}<strong>{{page.title}}</strong>{% endif %}{% if page.title != 'Altres' and page.subtitle != null %}{{page.title}}, <strong>{{page.subtitle}}</strong>{% endif %}{% if page.title != 'Altres' and page.subtitle == null %}{{page.title}}{% endif %}
        {% endif %}
        </h1>
      </div>

          <article role="main">
            {% if page.featured-img-url %}
            <p class="pull-right hidden-xs text-center featured-img-url"><img class="img-thumbnail" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}"></p>
            {% endif %}
            {{ content }}
            {% if page.box == 'estoigs' %}{% include grid-thumbnail-altres-estoigs.html %}{% endif %}
            {% if page.box == 'blisters' %}{% include grid-thumbnail-altres-blisters.html %}{% endif %}
          </article>   

        <div class="well well-sm {% if page.title == 'Altres' %} hidden-xs hidden-sm hidden-md hidden-lg {% endif %}">

          {% include contact-us.html %}

        </div>

    </div>

  </div>

  {% if page.title != 'Altres' and page.title != 'Otros' %}
  <aside role="complementary" class="content-one-third">

  {% include nav-pills-tipus-d-altres.html %}

  </aside>
  {% endif %}

</main>