<!DOCTYPE html>
<html {% if page.lang == 'es' %}lang="es"{% endif %}{% if page.lang == 'ca' %}lang="ca"{% endif %}{% if page.lang == 'en' %}lang="en"{% endif %}>
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body class="bx-{{ page.slug }} {{ page.class }}">
    <a class="sr-only" href="#content">Skip navigation</a>

    
    {% include nav-main.html %}
    
    {{ content }}

    {% include contentinfo.html %}    

    {% include footer.html %}

  </body>
</html>