<!DOCTYPE html>
<html lang="ca">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header-home.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body class="bx-{{ page.slug }}">
    <a class="sr-only" href="#content">Skip navigation</a>

    
    {% include nav-main.html %}

    
    {{ content }}

    <footer role="contentinfo">
      <div class="footer-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-1 col-lg-1">
              <p><img src="{{ site.base_url }}/assets/img/box-fort-logo-footer.png" /></p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="/"><strong>Home</strong></a></small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="{{ site.base_url }}/maletes/"><strong>Maletes</strong></a>
                  <br/><a href="{{ site.base_url }}/maletes/alumini/standard.html">Alumini Standard</a>
                  <br/><a href="{{ site.base_url }}/maletes/plastic/">Plàstic</a>
                  <br/><a href="{{ site.base_url }}/maletes/maletes-d-eines/">Maletes d'eines</a>
                  <br/><a href="{{ site.base_url }}/maletes/piloto/">Piloto</a>
                </small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="{{ site.base_url }}/fundes-textil/"><strong>Fundes tèxtil</strong></a>
                </small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="{{ site.base_url }}/altres/"><strong>Altres</strong></a>
                  <br/><a href="{{ site.base_url }}/altres/estoigs/">Estoigs</a>
                  <br/><a href="{{ site.base_url }}/altres/blisters/">Blisters</a>
                  <br/><a href="{{ site.base_url }}/altres/escumes/">Escumes</a>
                  <br/><a href="{{ site.base_url }}/altres/plafons/">Plafons</a>
                  <br/><a href="{{ site.base_url }}/altres/polipropile-troquelat/">Polipropilè troquelat</a>
                  <br/><a href="{{ site.base_url }}/altres/carros/">Carros</a>
                </small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p><small><a href="{{ site.base_url }}/contacte/"><strong>Contacte</strong></small></p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p><small><a href="{{ site.base_url }}/blog/"><strong>Novetats</strong></a></small></p>
            </div>
            <div class="col-sm-2 col-lg-2 col-sm-offset-1 col-lg-offset-1">
              <p>
                <small>&copy; Box Fort 2013
                  <br/><a href="{{ site.base_url }}/avis-legal.html">Avís Legal</a>
                </small>
              </p>
            </div>
            <div class="col-sm-2 col-lg-2">
              <p class="text-right"><a href="#" title="Twitter" rel="external"><i class="fa fa-twitter fa-lg"></i></a> <a href="#" title="Linkedin" rel="external"><i class="fa fa-linkedin fa-lg"></i></a> <a href="mailto:bustia@box-fort.com" title="Correu-e" rel="external"><i class="fa fa-envelope fa-lg"></i></a></p>
            </div>
          </div>
        </div>
          <address class="text-center">
            <small>
            Carrer del Camp, 79 08290, Cerdanyola del Vallès - Barcelona <a href="tel:0034933543453"><span class="fa fa-phone"></span> 0034 936 918 305</a> <a href="mailto:info@vortex.es"><span class="fa fa-envelope"></span> bustia@box-fort.com</a> <a href="https://maps.google.cat/maps?q=Carrer+del+Camp,+79,+Cerdanyola+del+Vall%C3%A8s,+Espanya&hl=ca&ie=UTF8&sll=37.0625,-95.677068&sspn=64.624909,107.138672&oq=Carrer+del+Camp,+79&hnear=Carrer+del+Camp,+79,+08290+Cerdanyola+del+Vall%C3%A8s,+Barcelona,+Espanya&t=m&z=17"><span class="fa fa-map-marker"></span> Map</a>
            </small>
        </address>
      </div>
    </footer>



    {% include footer.html %}

  </body>
</html>