---
layout: default
slug: maletes
---

<main class="bx-masthead container" id="content" role="main">

  <div class="content-two-third">

    <div class="body-content solutions">

      <ul class="breadcrumb">
        <li>
            {% if page.lang == 'es' %}
            <a href="{{ site.base_url }}/es/">Home</a>
            {% endif %}
            {% if page.lang == 'ca' %}
            <a href="{{ site.base_url }}/">Home</a>
            {% endif %}
            {% if page.lang == 'en' %}
            <a href="{{ site.base_url }}/en/">Home</a>
            {% endif %}
        </li>
        <li>
            {% if page.lang == 'es' %}
            <a href="{{ site.base_url }}/es/maletas">Maletas</a>
            {% endif %}
            {% if page.lang == 'ca' %}
            <a href="{{ site.base_url }}/maletes">Maletes</a>
            {% endif %}
            {% if page.lang == 'en' %}
            <a href="{{ site.base_url }}/en/cases">Cases</a>
            {% endif %}
        </li>
        {% if page.title != 'Maletes' and page.title != 'Maletas' and page.title != 'Cases' %}
        <li class="active">{% if page.title != 'Maletes' and page.subtitle != null %}{{page.title}}, <strong>{{page.subtitle}}</strong>{% endif %}{% if page.title != 'Maletes' and page.subtitle == null %}{{page.title}}{% endif %}</li>
        {% endif %}
      </ul>

      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} {% if page.title == 'Maletes' %}<strong>{{page.title}}</strong>{% endif %}{% if page.title != 'Maletes' and page.subtitle != null %}{{page.title}}, <strong>{{page.subtitle}}</strong>{% endif %}{% if page.title != 'Maletes' and page.subtitle == null %}{{page.title}}{% endif %}</h1>
      </div>

          <article role="main">
            {% if page.featured-img-url %}
            <p class="pull-right hidden-xs text-center featured-img-url"><img class="img-thumbnail" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}"></p>
            {% endif %}
            {{ content }}
            {% if page.box == 'standard' %}{% include grid-thumbnail-maletes-standard.html %}{% endif %}
            {% if page.box == 'a-mida' %}{% include grid-thumbnail-maletes-a-mida.html %}{% endif %}
            {% if page.box == 'flight-cases' %}{% include grid-thumbnail-maletes-flight-cases.html %}{% endif %}
            {% if page.box == 'contenidors' %}{% include grid-thumbnail-maletes-contenidors.html %}{% endif %}
            {% if page.box == 'injeccio' %}{% include grid-thumbnail-maletes-injeccio-plastica-panaro.html %}{% endif %}
            {% if page.box == 'box-fort' %}{% include grid-thumbnail-maletes-box-fort.html %}{% endif %}
            {% if page.box == 'panaro' %}{% include grid-thumbnail-maletes-plastica-panaro.html %}{% endif %}
            {% if page.box == 'hofbauer' %}{% include grid-thumbnail-maletes-hofbauer.html %}{% endif %}
            {% if page.box == 'parat' %}{% include grid-thumbnail-maletes-parat.html %}{% endif %}
            {% if page.box == 'doble-paret' %}{% include grid-thumbnail-maletes-doble-paret-hofbauer.html %}{% endif %}
            {% if page.box == 'estanques' %}{% include grid-thumbnail-maletes-estanques-explorer.html %}{% endif %}
          </article>   

        <div class="well well-sm {% if page.title == 'Maletes' or page.title == 'Maletas' %} hidden-xs hidden-sm hidden-md hidden-lg {% endif %}">

          {% include contact-us.html %}

        </div>

    </div>

  </div>

  {% if page.title != 'Maletes' and page.title != 'Maletas' and page.title != 'Cases' %}
  <aside role="complementary" class="content-one-third">

  {% include nav-pills-tipus-de-maletes.html %}

  </aside>
  {% endif %}

</main>